/*color de fondo de las categorias */
body {
font-family : 'Roboto', sans-serif;
background : #fff;
}
/* Informacion de contacto */
body p {
color : ;
font-family : "Roboto", sans-serif;
font-size : 14px;
letter-spacing : 1px;
}
/* Titulos de categorias */
body h1, h2, h3, h4, h5, h6 {
color : #C0C2C3;
font-family : "Roboto", sans-serif;
font-size : 18px;
text-transform : capitalize;
font-weight : 800;
text-transform : uppercase;
} -->
a:hover {
text-decoration : none;
}
.navbar {
padding : 5px 0;
transition : background 0.5s ease-in-out, padding 0.5s ease-in-out;
}
.top-nav-collapse {
padding : 0;
}
#loader-wrapper .logo {
left : 48.7%;
position : absolute;
top : 48%;
}
#loader-wrapper .logo a {
font-weight : 700;
color : #3498DB;
font-size : 5px;
}
.logo span {
color : #0F84FF;
}
#loader-wrapper {
position : fixed;
top : 0;
left : 0;
width : 100%;
height : 100%;
z-index : 999999;
background : #fff;
}
#loader {
display : block;
position : relative;
left : 50%;
top : 50%;
width : 150px;
height : 150px;
margin : -75px 0 0 -75px;
border-radius : 50%;
border : transparent solid 3px;
border-top-color : ##0F84FF;
animation : spin 5s linear infinite;
}
#loader:before {
content : "";
position : absolute;
top : 5px;
left : 5px;
right : 5px;
bottom : 5px;
border-radius : 50%;
border : transparent solid 3px;
border-top-color : ##0F84FF;
animation : spin 3s linear infinite;
}
#loader:after {
content : "";
position : absolute;
top : 15px;
left : 15px;
right : 15px;
bottom : 15px;
border-radius : 50%;
border : transparent solid 3px;
border-top-color : #000;
animation : spin 1.5s linear infinite;
}
@keyframes spin {
0% {
transform : rotate(0deg);
}
100% {
transform : rotate(360deg);
}
}
#nav_menu ul {
float : right;
list-style : none outside none;
margin : 0;
padding : 0;
position : relative;
}
/* Color de letra menu de arriba */
#nav_menu ul a {
color : #000;
display : block;
font-family : Roboto;
font-size : 14;
font-weight : bold;
line-height : 35px;
padding : 10px 14px;
text-decoration : none;
text-transform : capitalize;
transition : all 0.4s 0s ease;
}
#nav_menu ul li {
float : left;
padding : 0;
position : relative;
}
#nav_menu ul li a:hover {
transition : all 0.4s 0s ease;
background : #fff;
}
#nav_menu ul ul {
background : none 0 0 repeat scroll #0078bf;
display : none;
left : 0;
padding : 0;
position : absolute;
top : 100%;
z-index : 9999;
padding : 10px;
}
#nav_menu ul ul li {
float : none;
width : 200px;
}
#nav_menu ul ul a {
line-height : 120%;
padding : 10px 29px;
}
#nav_menu ul ul li a:hover {
transition : all 0.4s 0s ease;
background : #FFFFFF;
}
#nav_menu ul ul ul {
top : 0;
left : 100%;
}
#nav_menu ul li:hover > ul {
display : block;
}
#nav_menu ul li a i {
margin-left : 6px;
}
#src_sec {
background-image : url("../img/slide_img.jpg");
background-position : center center;
background-size : cover;
min-height : 500px;
}
#abt_sec {
padding : 70px 0;
}
.happy_use {
float : right;
font-family : open sans;
line-height : 6px;
text-align : center;
margin-top : 10px;
}
.happy_use > h2 {
color : #2c3e50;
font-size : 17px;
font-weight : 600;
margin : 0;
}
.happy_use > p {
font-size : 16px;
margin : 0;
}
.lft_hd img {
float : left;
margin-right : 30px;
margin-top : 19px;
width : 76px;
}
#pricing_sec {
padding : 70px 0;
}
.title_sec {
margin : 0 auto;
padding : 0 0 25px 0;
text-align : center;
}
.title_sec h2 {
color : #000;
font-size : 12px;
text-transform : uppercase;
letter-spacing : 1px;
}
.abt {
margin : 0 auto;
text-align : center;
}
#skill_sec {
padding-top : 30px;
}
.skills-wrap .container {
padding : 70px 0;
}
.progress {
height : 35px;
line-height : 35px;
margin-bottom : 45px;
background : #C0C2C3;
border-radius : 0;
box-shadow : none;
list-style : none;
}
.progress-bar {
font-weight : 600;
line-height : 35px;
padding-left : 20px;
text-align : left;
}
.progress-bar1 .progress-bar {
background : #00AFF0;
}
#lts_sec {
padding-top : 30px;
}
.all_brouse_btn {
border : #0B3A5D solid 1px;
color : #0B3A5D;
font-size : 12px;
text-transform : uppercase;
padding : 15px 20px;
text-align : center;
background : #fff;
}
.post_btn {
width : 100%;
display : inline-block;
margin : 0 auto;
text-align : center;
padding-top : 65px;
}
.post_btn a {
position : relative;
display : inline-block;
margin : 15px 25px;
outline : none;
color : #fff;
text-decoration : none;
text-transform : uppercase;
letter-spacing : 1px;
font-weight : 400;
text-shadow : 0 0 1px rgba(255, 255, 255, 0.3);
font-size : 1.35em;
}
.hover_effect_btn {
position : relative;
z-index : 1;
}
.hover_effect_btn a {
overflow : hidden;
margin : 0 15px;
}
.hover_effect_btn a span {
font-size : 12px;
font-family : Roboto;
background : none 0 0 repeat scroll #fff;
border : #0B3A5D solid 1px;
border-radius : 6px;
color : #0B3A5D;
display : block;
padding : 15px 20px;
transition : transform 0.3s;
}
.hover_effect_btn a::before {
background : none 0 0 repeat scroll #00AFF0;
color : #fff;
height : 100%;
left : 0;
padding : 15px 20px;
position : absolute;
top : 0;
transition : transform 0.3s 0s ease;
width : 100%;
z-index : -1;
font-size : 12px;
font-family : Roboto;
border : #0B3A5D solid 1px;
border-radius : 6px;
}
.hover_effect_btn a:hover span, .hover_effect_btn a:focus span {
transform : translateX(100%);
}
.hover_effect_btn a:hover::before, .hover_effect_btn a:focus::before {
transform : translateX(0%);
}
#protfolio_sec ul.filter {
color : #2e2e2e;
}
#protfolio_sec ul.filter li {
color : #0B3A5D;
cursor : pointer;
display : inline-block;
font-family : Roboto;
font-size : 14px;
margin-right : 5px;
padding : 15px 35px;
position : relative;
}
#protfolio_sec ul.filter li:hover {
color : #36BFF3;
}
#protfolio_sec ul.filter li.active {
border-bottom : 1px solid #00AFF0;
}
#protfolio_sec .all-portfolios {
margin-top : 20px;
margin-left : -10px;
}
#protfolio_sec .single-portfolio {
float : left;
margin-bottom : 10px;
width : 277px;
}
#protfolio_sec .single-portfolio:hover .img_hoverlay {
display : block;
}
#message {
height : 90px;
}
.wrap_caption {
padding : 190px 0;
}

#slider_sec {
background-image : url("../img/slider.jpg");
background-position : center center;
background-repeat : no-repeat;
background-size : 100% 100%;
height : 650px;
width : 100%;
}
.left_crousel_btn, .right_crousel_btn {
color : #fff;
height : 20px;
position : absolute;
text-align : center;
top : 50%;
width : 20px;
font-size : 25px;
font-weight : normal;
}

/* Color de letra mensajes slider *//*
.caption_carousel h1,h2 {
font-family : Roboto;
font-size : 30px;
text-transform : capitalize;
color : #FFFFFF;
}
/*Segunda linea de texto entre bordes slider */
.caption_carousel p {
font-family : Roboto;
font-size : 20px;
color : #FFF;
border-top : 1px solid #fff;
border-bottom : 1px solid #fff;
display : inline;
line-height : 35px;
padding : 8px;
}
.caption_carousel {
display : none;
text-align : center;;
vertical-align : super;
height : 100%;
width : 100%;
margin : 0 auto;
display : block;
}
.carousel-indicators li {
background-color : #fff;
border : none medium;
border-radius : 5px;
cursor : none;
display : none;

}
.carousel-indicators .active {
width : 0px;
height : px;
background-color : #C0C2C3;
}

#counting_sec {
background : none 0 0 repeat scroll #fff;
padding : 90px 0;
}
.counting_sl h2 {
color : #515050;
font-size : 48px;
}
.counting_sl h4 {
font-size : 18px;
color : #515050;
text-transform : uppercase;
font-weight : 300;
}
.counting_sl {
text-align : center;
}
.counting_sl i {
color : #515050;
float : left;
font-size : 35px;
margin-top : 10px;
} */
#pr_sec {
padding : 70px 0;
}
.service {

transition: all 1s ease 0s;
-moz-transition: all 1s ease 0s;
-webkit-transition: all 1s ease 0s;border :1px solid ##1439A9;
cursor : pointer;
text-align : center;
padding : 61px 0;

}
.service:hover .service_hoverly {
display : block;
}
.service > h2 {
color : #515050;
font-size : 14px;
font-weight : 400;
text-transform : uppercase;
}
.service_hoverly h2 {
color : #515050;
font-size : 14px;
font-weight : 400;
text-transform : uppercase;
margin : 0;
padding-bottom : 30px;
}
.service i {
font-size : 50px;
color : #03B0F0;
position : relative;
}
.service_hoverly {

transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;border :1px solid #03B0F0;
display : none;
padding : 25px 5px;
position : absolute;
top : 0;
background : #fff;
}
.service_hoverly i {
background : none 0 0 repeat scroll #fff;
font-size : 50px;
position : relative;
top : -50px;
}
/*Nuestros trabajos fondo de color */
#protfolio_sec {
background : none 0 0 repeat scroll #00559d;
padding : 70px 0;
}
#tm_sec {
padding : 70px 0;
}
.sngl_team h3 {
font-size : 14px;
text-transform : uppercase;
color : #333333;
}
.sngl_team {
text-align : center;
width : 100%;
}
.owl-item .sngl_team img {
margin : 0 auto;
text-align : center;
width : 130px;
}
.sngl_team span {
color : #00aff0;
font-family : Roboto;
font-size : 13px;
margin-left : 10px;
text-transform : uppercase;
}
.all_team .owl-controls .owl-prev i {
color : #3399ff;
font-size : 30px;
position : absolute;
top : 46%;
left : 0;
}
.all_team .owl-controls .owl-next i {
position : absolute;
top : 46%;
font-size : 30px;
color : #3399FF;
right : 0%;
}
.all_team .owl-controls .owl-dot {
background-color : #363636;
border : none medium;
border-radius : 5px;
cursor : pointer;
display : inline-block;
height : 6px;
text-indent : 0;
width : 25px;
margin-right : 5px;
}
.all_team .owl-controls .owl-dot.active {
background-color : #03B0F0;
}
.all_team .owl-controls {
display : inline-block;
width : 100%;
text-align : center;
}
#tstm_sec {
background-image : url("../img/testimonial_bg.jpg");
background-position : center center;
background-repeat : no-repeat;
background-size : 100% 100%;
padding : 40px 0;
}
.all_tstm {
display : table;
width : 100%;
height : 100%;
}
.sngl_tstm {
display : table-cell;
height : 100%;
text-align : center;
vertical-align : middle;
}
.sngl_tstm i {
font-size : 25px;
color : #fff;
}
.sngl_tstm h3 {
color : #fff;
font-size : 24px;
letter-spacing : 1px;
text-transform : uppercase;
}
.sngl_tstm p {
color : #ffffff;
font-size : 16px;
line-height : 30px;
}
.sngl_tstm h6 {
font-size : 12px;
text-transform : uppercase;
color : #fff;
}
.clnt_tstm {
width : 780px;
margin : 0 auto;
}
#tstm_sec .owl-controls .owl-dot {
background-color : #fff;
border : none medium;
border-radius : 5px;
cursor : pointer;
display : inline-block;
height : 6px;
text-indent : 0;
width : 25px;
margin-right : 5px;
}
#tstm_sec .owl-controls .owl-dot.active {
background-color : #03B0F0;
}
#tstm_sec .owl-controls {
display : inline-block;
width : 100%;
text-align : center;
}
#tstm_sec .owl-controls .owl-nav {
display : none;
}
.lts_pst > img {
  width: 100%;
}
.lts_pst h2 {
color : #333333;
font-size : 14px;
text-transform : uppercase;
}
.lts_pst a {
border-bottom : 1px solid #333333;
color : #333333;
font-family : Roboto;
text-transform : capitalize;
}
.lts_pst a:hover {
border-bottom : 1px solid #00AFF0;
}
.sngl_pricing ul {
border : #C0C2C3 solid 5px;
margin : 0;
padding : 0;transition: all 1s ease 0s;
-moz-transition: all 1s ease 0s;
-webkit-transition: all 1s ease 0s
}
.sngl_pricing ul li {
color : #0B3A5D;
font-family : Roboto;
font-size : 14px;
list-style : none outside none;
text-transform : capitalize;
border-top : 1px solid #C0C2C3;
padding : 10px 0;
text-align : center;
}
.sngl_pricing ul li:first-child {
border-top : 0;
}
.sngl_pricing {
text-align : center;
border : #00559d solid 5px;
}
.sngl_pricing:hover {
border : #00AFF0 solid 5px;transition: all 1s ease 0s;
-moz-transition: all 1s ease 0s;
-webkit-transition: all 1s ease 0s
}
.sngl_pricing:hover.sngl_pricing h3 {
background : none 0 0 repeat scroll #00AFF0;transition: all 1s ease 0s;
-moz-transition: all 1s ease 0s;
-webkit-transition: all 1s ease 0s
}
.sngl_pricing > h2 {
color : #fff;
font-size : 18px;
margin : 0;
padding : 30px;
text-transform : uppercase;
}
.title_bg_1 {
background-image : url("../img/basic.jpg");
background-position : center center;
background-repeat : no-repeat;
background-size : 100% 100%;
}
.title_bg_2 {
background-image : url("../img/standar.jpg");
background-position : center center;
background-repeat : no-repeat;
background-size : 100% 100%;
}
.title_bg_3 {
background-image : url("../img/extended.jpg");
background-position : center center;
background-repeat : no-repeat;
background-size : 100% 100%;
}
/* Color de los cuadros de ventas */
.sngl_pricing > h3 {
background : none 0 0 repeat scroll #00559d;
color : #000;
font-size : 48px;
margin : 0;
padding : 20px 0;
}
.currency {
font-size : 24px;
position : relative;
top : -18px;
}
.monuth {
font-size : 24px;
text-transform : none;
}
/*Area de paquetes */
.btn.pricing_btn {
background : none 0 0 repeat scroll #00559d;
border : #00559d solid 1px;
color : #fff;
text-transform : uppercase;
padding : 10px 30px;
}
.sngl_pricing ul {
margin : 0;
padding : 55px 0;
}
.sngl_pricing a {
margin-top : 30px;
}
/* Fondo de color clientes */
#clt_sec {
background : #00559d;
padding : 70px 0;
}
.owl-item .sngl_clt a {
text-align : left;
width : 100%;
display : inline-block;
margin-left : 40px;
}
.owl-item .sngl_clt img {
width : 100px;
}
#clt_sec .owl-controls .owl-nav {
display : none;
}
#ctn_sec {
padding : 70px 0;
}
#cnt_form .btn {
background : #00559d;
padding : 10px 35px;
}
#cnt_form .form-control:focus {
border : #00559d solid 1px;
}
.cnt_info ul {
margin : 0;
padding : 0;
border-left : 1px solid #00559d;
padding-left : 30px;
}
.cnt_info ul li {
list-style : none outside none;
padding : 15px 0;
}
.cnt_info ul li i {
color : #000;
float : left;
margin-top : 5px;
}
.cnt_info p {
padding-left : 30px;
}
.map_area {
margin-bottom : 93px;
}
.ft ul {
margin : 0;
padding : 0;
text-align : center;
}
.ft ul li {
list-style : none outside none;
padding-right : 10px;
display : inline;
}
/*Circulito de redes sociales*/
.ft ul li a {
border : #000 solid 1px;
border-radius : 50px;
display : inline-block;
margin : 0 auto;
padding : 7px 11px;
text-align : center;
}
.ft ul li a i {
color : #363636;
font-size : 15px;
transition: all 1s ease 0s;
-moz-transition: all 1s ease 0s;
-webkit-transition: all 1s ease 0s
}
.ft ul li a i:hover {
color : #00AFF0;transition: all 1s ease 0s;
-moz-transition: all 1s ease 0s;
-webkit-transition: all 1s ease 0s
}
.ft ul li .fa-facebook {
padding : 3px;
}
/*Color de area de mapa*/
#ltd_map_sec {
background : none 0 0 repeat scroll #00559d;
text-align : center;
}
.map > h1 {
color : #fff;
font-size : 20px;
font-weight : normal;
text-transform : uppercase;
}
#ft_sec {
padding : 70px 0;
}
.copy_right {
margin : 0;
padding : 0;
}
.copy_right li {
font-size : 14px;
font-weight : 600;
list-style : none outside none;
padding : 2px;
text-align : center;
color : #818181;
text-transform : uppercase;
}
.copy_right {
margin : 0;
padding : 0;
margin-top : 18px;
}
.map i {
font-size : 22px;
font-weight : bold;
color : #fff;
margin-left : 15px;
}
.show_hide {
color : #3399FF;
margin-left : 15px;
}
#blg_sec {
padding : 100px 0;
}
/*Barra de menu*/
.main_menu_sec {
background : none 0 0 repeat scroll #fff;
border-style: groove;
margin : 50;
}
.post_info i {
background : none 0 0 repeat scroll #00aff0;
color : #fff;
float : left;
font-size : 30px;
padding : 10px;
margin-right : 15px;
}
.post_info ul {
margin : 0;
padding : 0;
}
.post_info ul li {
list-style : none;
float : left;
}
.post_intro {
padding-top : 15px;
}
.post_intro h2 {
color : #333333;
font-size : 14px;
font-weight : bold;
text-transform : uppercase;
display : inline;
line-height : 30px;
}
.post_info ul li {
float : left;
list-style : none outside none;
color : #a3a7b2;
font-size : 12px;
text-transform : capitalize;
font-family : Roboto;
}
.post_content {
border-bottom : 1px solid #C0C2C3;
float : left;
line-height : 25px;
padding : 30px 0;
}
.post_content > a {
color : #666666;
font-family : Roboto;
font-size : 12px;
border-bottom : 1px solid #C0C2C3;
line-height : 40px;
padding : 8px 0;
}
.post_content > a:hover {
border-bottom : 1px solid #C0C2C3;
}
#sr_bx {
border : #C0C2C3 solid 1px;
padding : 12px;
width : 100%;
}
.sidebar h2 {
color : #000;
font-size : 14px;
text-transform : uppercase;
margin-top : 30px;
}
.title_br {
border-bottom : 2px solid #C0C2C3;
width : 50px;
}
.sidebar ul {
margin : 0;
padding : 0;
}
.sidebar ul li {
border-bottom : 1px solid #e2e2e2;
list-style : none outside none;
padding : 15px 0;
}
.sidebar ul li a {
color : #C0C2C3;
font-size : 14px;
text-transform : capitalize;transition: all 1s ease 0s;
-moz-transition: all 1s ease 0s;
-webkit-transition: all 1s ease 0s
}
.sidebar ul li a:hover{transition: all 1s ease 0s;
-moz-transition: all 1s ease 0s;
-webkit-transition: all 1s ease 0s;color:#00AFF0}
.flickr li {
border : 0 !important ;
}
.flickr li {
float : left;
padding-right : 6px;
width : 90px;
}
.tag > li {
border : none medium !important ;
float : left;
}
.tag li a {
border : #C0C2C3 solid 1px;
padding : 10px;
margin-right : 5px;
}
.sngl_blg > img {
width : 100%;
height : 100%;
}
.author_dec h3 {
margin : 0;
color : #333333;
font-size : 14px;
margin-bottom : 11px;
}
.author_info {
border-bottom : 1px solid #e3e3e3;
display : inline-block;
padding : 22px 0;
margin-bottom : 30px;
}
.author_info > img {
float : left;
margin-right : 35px;
}
.social_link {
margin : 0;
padding : 0;
float : right;
display : inline-flex;
}
.social_link li {
list-style : none;
}
.social_link li a i {
color : #363636;
float : left;
padding : 6px;
}
.form-control.single_cnt {
width : 355px !important ;
}
.single_cnt_m {
width : 731px !important ;
}
